# Firebase (Vite)
VITE_FIREBASE_API_KEY=AIzaSyDNIavnL3RSfiXCy_AyxLNB7fGQNsEtpVQ
VITE_FIREBASE_AUTH_DOMAIN=cinesia-72d45.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cinesia-72d45
VITE_FIREBASE_STORAGE_BUCKET=cinesia-72d45.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=691649171080
VITE_FIREBASE_APP_ID=1:691649171080:web:2c7ee3c827a456bf53d93d
